*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 1fr ;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,  #447fd3,#dce2e5,)
}
.container{
    display: grid;
    grid-template-columns: 3fr;
    max-width: 1500px;
    width: 100%;
    background: linear-gradient(-115deg, #dce2e5, dodgerblue);
    padding: 25px 30px ;
    border-radius: 10px;
}
.container .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    color: rgb(21, 21, 201);
}
.container .title1{
    font-size: 19px;
    font-weight: 500;
    margin-left: 190px;
    margin-bottom: 5px;
}
.container .title1 a{
    font-size: 19px;
    font-weight: 500;
    color: blue;
    text-decoration: none;
}
.container .title2{
    font-size: 19px;
    font-weight: 500;
    margin-left: 250px;
    margin-bottom: 5px;
}
.container .title2 a{
    font-size: 19px;
    font-weight: 500;
    color: rgb(229, 61, 14);
    text-decoration: none;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box textarea{
    /* height: 45px; */
    width: 100%;
    outline: none;
    resize: none;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box textarea:is(:focus, :valid){
    border-color: red;
    border-width: 2px;
    padding: 14px;
}
.user-details .input-box textarea::-webkit-scrollbar{
    display: none;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #2e06de;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color:#fff;
    background: linear-gradient(135deg, #63a1cb, #1f1dba);
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}
form .button input:hover{
    background: linear-gradient(-135deg, #63a1cb, #1f1dba);
}
@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }           
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width:0;
    }
}
